<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"			
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.app.dto.community.Posts" alias="Posts"/>
		<typeAlias type="com.app.dto.community.Comments" alias="Comments"/>
		<typeAlias type="com.app.dto.team.Teams" alias="Teams"/>
		<typeAlias type="com.app.dto.team.Players" alias="Players"/>
		<typeAlias type="com.app.dto.team.PlayerStats" alias="PlayerStats"/>
		<typeAlias type="com.app.dto.team.Staffs" alias="Staffs"/>
		<typeAlias type="com.app.dto.team.TeamStats" alias="TeamStats"/>
		<typeAlias type="com.app.dto.match.Matches" alias="Matches"/>
		<typeAlias type="com.app.dto.match.MatchEvents" alias="MatchEvents"/>
	</typeAliases>
	
</configuration>
